*.xml
*.log
*.apk
*.iml
**/.vscode/
**/.idea/
*.pyc
.DS_Store
*.cfg
*.sqlite3
checkpoints/
runs/
__pycache__/
*.npy
*.so
.rendered

*.sh
**/__pycache__/*
**/checkpoints/*
**/runs/*
**/wandb/*
**/checkpoints.pt
wandb/*